@font-face {
  font-family: ApivitaAsty-Bold;
  src: url("./fonts/ApivitaAsty-Bold.otf");
}

@font-face {
  font-family: ApivitaAsty-light;
  src: url("./fonts/ApivitaAsty-Light.otf");
}

@mixin question {
  color: white;
  text-align: center;
  font-family: ApivitaAsty-Bold;
  margin-bottom: 40px;
  margin-top: 40px;
}
@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}
body {
  background-color: #211915;
  font-family: "ApivitaAsty-light";
  position: relative;
  overflow-x: hidden;
  .orange {
    position: absolute;
    right: -5%;
    bottom: 30%;
    img {
      max-width: 300px;
    }
  }
  .bee {
    position: absolute;
    left: 5%;
    bottom: 30%;
    img {
      max-width: 70px;
    }
  }
  .bee1 {
    left: 5%;
    bottom: 30%;
    img {
      max-width: 70px;
    }
  }
  .bee2 {
    left: 7%;
    bottom: 40%;
    img {
      max-width: 70px;
    }
  }
  .bee3 {
    left: 2%;
    bottom: 35%;
    img {
      max-width: 70px;
    }
  }
}
header {
  height: 300px;
  background-image: url("../images/apivita_header.jpg");
  background-size: cover;
  background-position: center center;
}
.intro {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  .honey {
    position: absolute;
    left: -10%;
    top: 70%;
    img {
      width: 400px;
    }
  }
  .panal {
    position: absolute;
    top: 0;
    right: -10%;
    img {
      width: 400px;
    }
  }

  .headLine {
    font-family: "ApivitaAsty-Bold";
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    img {
      max-width: 150px;
    }
  }
  .headLine {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #e7b83a;
    font-weight: bold;
  }
  .subHeadLine {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    font-weight: regular;
  }
  .get-start {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
    img {
      max-width: 250px;
    }
  }
}
.quizz {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  color: #fff;
  font-weight: bold;
  .question {
    @include question;
  }
  .answersPackage1 {
    @include flexCenter;
    .answerPackage1__item {
      width: 256px;
      height: 256px;
      background-size: cover;
      @include flexCenter;
      cursor: pointer;
    }
    .answerPackage1__1 {
      background-image: url("../images/foto1.png");
    }
    .answerPackage1__2 {
      background-image: url("../images/foto3.png");
    }
    .answerPackage1__3 {
      background-image: url("../images/foto2.png");
    }
    .answerPackage1__4 {
      background-image: url("../images/foto4.png");
    }
    .answerPackage1__active {
      border-color: #e7b83a;
      border-width: 5px;
      border-style: solid;
    }
  }
  .answerPackage2 {
    @include flexCenter;
    cursor: pointer;
    color: #666;
    .answerPackageBox {
      background-image: url("./../images/apivita_edades.jpg");
      width: 600px;
      height: 400px;
      background-size: cover;
      background-position: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1rem;
      .answerPackage2__item {
        @include flexCenter;
      }
      .answerPackage2__active {
        border-color: #e7b83a;
        border-width: 5px;
        border-style: solid;
      }
    }
  }

  .answerPackage3 {
    @include flexCenter;
    cursor: pointer;
    .answerPackage3__item {
      color: #fff;
      text-align: center;
      img {
        max-width: 250px;
      }
    }
    .answerPackage3__active {
      border-bottom: 5px solid #e7b83a;
    }
  }
  .finalButton {
    @include flexCenter;
    margin-top: 100px;
    margin-bottom: 100px;
    cursor: pointer;
    img {
      max-width: 300px;
    }
  }
  .conjuntoProductos {
    a {
      text-decoration: none;
      color: #fff;
    }
    @include flexCenter;
    margin-top: 60px;
    margin-bottom: 60px;
    .product {
      img {
        max-width: 300px;
      }
    }
  }
  .tituloResultado {
    color: #fff;
    text-align: center;
  }
}
footer {
  @include flexCenter;
  color: #fff;
  text-align: center;
  height: 200px;
  .footerContainer {
    width: 600px;
    @include flexCenter;
    .facebookContainer {
      cursor: pointer;
      img {
        max-width: 50px;
      }
    }
    .instagramContainer {
      cursor: pointer;
      img {
        max-width: 50px;
      }
    }
    .FarmaciaContainer {
      cursor: pointer;
      @include flexCenterColumn;
      img {
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 600px) {
  body {
  }
  .panal {
    display: none;
  }
  .honey {
    display: none;
  }
  .answersPackage1 {
    @include flexCenterColumn;
  }

  .answerPackage3 {
    @include flexCenterColumn;
  }

  .conjuntoProductos {
    @include flexCenterColumn;
    .product {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .bee {
    display: none;
  }
  .orange {
    display: none;
  }
  .footerContainer {
    @include flexCenterColumn;
  }
}
