@font-face {
  font-family: ApivitaAsty-Bold;
  src: url("./fonts/ApivitaAsty-Bold.otf");
}

@font-face {
  font-family: ApivitaAsty-light;
  src: url("./fonts/ApivitaAsty-Light.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html h1 {
  font-size: 3rem;
}

html h2 {
  font-size: 2.5rem;
}

html h3 {
  font-size: 2rem;
}

body {
  background-color: #211915;
  font-family: "ApivitaAsty-light";
  position: relative;
}

body .orange {
  position: absolute;
  right: -5%;
  bottom: 30%;
}

body .orange img {
  max-width: 200px;
}

body .bee {
  position: absolute;
  left: 5%;
  bottom: 30%;
}

body .bee img {
  max-width: 70px;
}

header {
  height: 300px;
  background-image: url("../images/apivita_header.jpg");
  background-size: cover;
  background-position: center center;
}

.intro {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.intro .honey {
  position: absolute;
  left: -5%;
  top: 70%;
}

.intro .honey img {
  width: 300px;
}

.intro .panal {
  position: absolute;
  top: 0;
  right: -7%;
}

.intro .panal img {
  width: 300px;
}

.intro .headLine {
  font-family: "ApivitaAsty-Bold";
}

.intro .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.intro .logo img {
  max-width: 150px;
}

.intro .headLine {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: #e7b83a;
  font-weight: bold;
}

.intro .subHeadLine {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  font-weight: regular;
}

.intro .get-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.intro .get-start img {
  max-width: 250px;
}

.quizz {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 50px;
}

.quizz .question {
  color: white;
  text-align: center;
  font-family: ApivitaAsty-Bold;
  margin-bottom: 40px;
  margin-top: 40px;
}

.quizz .answersPackage1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quizz .answersPackage1 .answerPackage1__item {
  width: 256px;
  height: 256px;
  background-size: cover;
}

.quizz .answersPackage1 .answerPackage1__1 {
  background-image: url("../images/foto1.png");
}

.quizz .answersPackage1 .answerPackage1__2 {
  background-image: url("../images/foto2.png");
}

.quizz .answersPackage1 .answerPackage1__3 {
  background-image: url("../images/foto3.png");
}

.quizz .answersPackage1 .answerPackage1__4 {
  background-image: url("../images/foto4.png");
}

.quizz .answersPackage1 .answerPackage1__active {
  border-color: red;
  border-width: 5px;
  border-style: solid;
}

.quizz .answerPackage2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quizz .answerPackage2 .answerPackageBox {
  background-image: url("./../images/age_picture_apivita.png");
  width: 600px;
  height: 400px;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.quizz .answerPackage2 .answerPackageBox .answerPackage2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quizz .answerPackage3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quizz .answerPackage3 .answerPackage3__item {
  color: #fff;
  text-align: center;
}

.quizz .answerPackage3 .answerPackage3__item img {
  max-width: 200px;
}

.quizz .answerPackage3 .answerPackage3__active {
  border-bottom: 5px solid red;
}

.quizz .finalButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.quizz .finalButton img {
  max-width: 300px;
}
/*# sourceMappingURL=main.css.map */